<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <title>Task Manager</title>
  <meta name="title" content="Task-Management">
  <meta name="description" content="Task Manager with API">
  <meta name="author" content="Group 7 Javascript Project 2">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/style.css">
</head>